.formAuth {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;
    border-radius: 40px;
    &__welcome {
        align-self: flex-start;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0%;
        text-align: center;
    }
    &__title {
        align-self: flex-start;
        font-size: 52px;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0%;
        text-align: center;
        margin: 0 0 40px;
    }
    &__input-error {
        margin: 0;
        padding-left: 15px;
        font-size: 10px;
        color: red;
    }
    &__label {
        display: flex;
        flex-direction: column;
        height: 110px;
        max-width: 500px;
        width: 100%;
        margin-bottom: 10px;
    }
    &__label-text {
        margin: 0 0 7px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
    &__input {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        border-radius: 12px;
        border-color: #4285F4;
        padding: 15px 0;
        padding-left: 15px;
        width: calc(100% - 15px);
        &_login {
            margin-bottom: 10px;
        }
        &_password {
            margin-bottom: 10px;
        }
    }
    &__password-container {
        position: relative;
        width: 100%;
    }
    &__password-icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #4285F4;
        margin-top: -5px;
    }
    &__btn {
        width: 100%;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        padding: 14px 0;
        margin: 5px 0 20px;
        background: rgb(56, 112, 224);
        font-size: 18px;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0%;
        text-align: center;
        transition: opacity 0.2s ease-in;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
        &:disabled {
            background-color: rgb(102, 102, 102);
            opacity: 1;
            cursor: default;
        }
    }

    &__label-password {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__password-checkbox {
        margin-right: 5px;
        cursor: pointer;
    }
    &__error {
        color: red;
        margin-top: 0px;
    }
}
