.TestResultChip {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: default;
  font-size: 0.75rem;
  margin-right: 8px;

  & svg {
    font-size: 1rem;
    margin-right: 4px;
  }

  &_status_success {
    color: rgb(61, 128, 61);
    background-color: rgba(61, 128, 61, 0.1);
  }

  &_status_failed {
    color: rgb(185, 53, 53);
    background-color: rgba(185, 53, 53, 0.1);
  }
}
