@font-face {
    font-family: 'Manrope';
    font-style: normal;
    src: url('./Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    src: url('./Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
}
