.admin-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1920px;
        padding: 12px 50px 12px 50px;
        box-shadow: 0px 2px 8px 0px rgba(27, 25, 56, 0.05);
        background: rgb(255, 255, 255);
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
    }

    &__bottom1 {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding: 0 50px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 24px;
        border-radius: 12px;
        background: rgb(255, 255, 255);
        margin: 24px 0;
    }

    &__title {
        color: rgb(36, 36, 36);
        font-family: 'Manrope';
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
    }

    &__timer {
        color: rgb(143, 149, 158);
        font-family: 'Manrope';
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__time {
        color: rgb(0, 0, 0);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
        padding-left: 5px;
        width: 100%;
        max-width: 80px;
    }

    &__logo {
        cursor: pointer;
        transition: opacity 0.2s;
        &:hover {
            opacity: 0.7;
        }
    }

    &__left {
        display: flex;
        align-self: center;
        justify-content: center;
    }
    &__right {
        position: relative;
    }

    &__profile-icon {
        background-image: url('../../../utils/icons/Ава.svg');
        width: 34px;
        height: 35px;
        background-repeat: no-repeat;
    }

    &__user-name {
        color: rgb(0, 0, 0);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0%;
        margin: 0 15px 0 10px;
    }

    &__vector {
        background-image: url('../../../utils/icons/chevron-down.svg');
        width: 11px;
        height: 10px;
        background-repeat: no-repeat;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dropdown {
        display: flex;
        align-items: center;
        box-shadow: 5px 5px 10px 5px rgba(27, 25, 56, 0.1);
        border-radius: 10px;
        padding: 8px;
        box-sizing: border-box;
        cursor: pointer;

        &_checked {
            top: -25px;
            left: -190px;
            position: absolute;
            flex-direction: column;
            background-color: white;
        }
    }

    &__exit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 10px 5px 20px 5px;
        cursor: pointer;
        transition: opacity 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }

    &__exit-logo {
        background-image: url('../../../utils/icons/SignOut.svg');
        width: 18px;
        height: 17px;
        background-repeat: no-repeat;
        margin-right: 10px;
    }

    &__exit-text {
        color: rgb(32, 33, 37);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0%;
        text-align: left;
    }

    &__link-container {
        display: flex;
        margin-left: 64px;
        gap: 30px;
        align-items: center;
        cursor: pointer;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    &__link-icon {
        width: 16px;
        height: 16px;
    }

    &__link-title {
        color: rgb(120, 120, 120);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;

        &_active {
            color: rgb(57, 135, 253);
        }
    }
}
