.judge-table {
    /* Стили для таблицы, например, установка столбцов */
    display: grid;
    grid-template-columns: repeat(8); /* Пример: 8 столбцов */
    gap: 10px; /* Промежуток между ячейками */
    &__comment {
        cursor: pointer;
        color: blue;
    }
    &__btn-feedback {
        width: 100px;
    }
    &__item-file {
        cursor: pointer;
        color: blue;
    }
}
.judge-table__info {
    margin: 10px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 8px;
    }
}
.judge-table__item {
    margin: 5px 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
