.admin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1340px;
    width: 100%;
    min-height: 807px;

    margin: 24px 0 20px;
    &__info {
        width: 100%;
        border-radius: 12px;
        background: rgb(255, 255, 255);
        padding: 10px 24px 10px 24px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__info-title {
        color: rgb(36, 36, 36);
        font-family: 'Manrope';
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        margin-right: 10px;
    }
    &__info-count {
        color: rgb(143, 149, 158);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
    }
    &__info-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn-create {
        background: none;
        border: none;
        border-radius: 6px;
        padding: 5px 16px 5px 16px;
        background: rgb(57, 135, 253);
        color: rgb(255, 255, 255);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
        transition: opacity 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }

    &__page {
        box-sizing: border-box;
        border: 1px solid rgb(226, 232, 240);
        border-radius: 8px;
        padding: 14px 21px 14px 21px;
        margin-right: 10px;
        color: rgb(139, 146, 165);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        cursor: pointer;
        transition: opacity 0.5s;
        &:hover {
            opacity: 0.7;
        }
        &_checked {
            border-radius: 8px;
            color: rgb(255, 255, 255);
            background: rgb(57, 135, 253);
            cursor: default;
            &:hover {
                opacity: 1;
            }
        }
    }
    &__pages {
        margin-top: auto;
        display: flex;
    }
}

.contest-list {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1340px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 10px;

    &__item {
        display: flex;
        width: 100%;
        max-width: 666px;
        border-radius: 12px;
        box-shadow: 0px 10px 13px 3px rgba(27, 25, 56, 0.05);
    }

    &__img {
        max-width: 248px;
        min-width: 200px;
        width: 100%;
        height: 261px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 14px;
        box-sizing: border-box;
        width: 100%;
        max-width: 418px;
        background: rgb(255, 255, 255);
        border-radius: 12px;
        box-sizing: border-box;
    }

    &__info-status {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-start;
        border-radius: 8px;
        background: rgb(57, 135, 253);
        padding: 3px 10px;
        color: rgb(255, 255, 255);
        font-family: 'Manrope';
        font-size: 12px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        &.in-progress {
            background: rgb(63, 204, 128);
        }
        &.finished {
            background: rgb(247, 147, 26);
        }
    }
    &__info-name {
        color: rgb(36, 36, 36);
        font-family: 'Manrope';
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__info-btn {
        border: none;
        border-radius: 8px;
        background: rgba(57, 135, 253, 0.1);

        color: rgb(57, 135, 253);
        font-family: 'Manrope';
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: right;
        align-self: flex-end;
        padding: 6px 40px;

        cursor: pointer;
        transition: opacity 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }
    &__duration-block {
        overflow: hidden;

        &::after {
            content: '\A0';
            display: block;
            overflow: hidden;
            border-bottom: 1px dotted rgb(212, 211, 211);
            margin-top: -6px;
        }
    }
    &__duration-label {
        float: left;
        margin: 0;
        color: rgb(143, 149, 158);
        font-family: 'Manrope';
        font-size: 13px;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        padding-right: 5px;
    }
    &__duration-value {
        padding-left: 5px;
        float: right;
        margin: 0;
        color: rgb(120, 120, 120);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__image-container {
        position: relative;
    }
    &__overlay {
        position: absolute;
        top: 10px;
        left: 15px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        padding: 3px 9px 3px 9px;
        color: rgb(143, 149, 158);
        font-family: 'Manrope';
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }
    &__overlay-text {
        color: rgb(69, 69, 69);
        font-weight: 500;
    }
}
