.MuiButtonBase-root.Button {
  border-radius: 6px;
  padding: 8px 16px;
  background: rgb(57, 135, 253);
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  transition: opacity 0.5s;
  text-transform: none;

  &:hover {
    opacity: 0.7;
  }

  &_size_large {
    padding: 12px 24px;
    font-size: 16px;
  }

  &_fullwidth {
    width: 100%;
  }

  &_error {
    background: transparent;
    border: 1px solid #e91e63;
    color: #e91e63;
  }

  &:disabled {
    background-color: rgb(102, 102, 102);
    opacity: 1;
    cursor: default;
  }
}
