.button {
    border: none;
    border-radius: 0.38rem;
    background: rgb(57, 135, 253);
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;

    color: rgb(255, 255, 255);
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    transition: opacity 0.5s;
    &:hover {
        opacity: 0.7;
    }
}
