.contest {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__list-btn {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 15px;
        padding: 0;
    }
    &__btn {
        background: none;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
        border-radius: 4px;
        border: 2px solid #5181b8;
        color: #5181b8;
        margin-bottom: 10px;
        max-width: 450px;
    }
    &__list {
        min-width: 150px;
        min-height: 150px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        max-height: 500px;
        overflow-y: scroll;
        margin: 0 15px 15px;
    }
    &__right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__task {
        max-height: 700px;
        overflow-y: scroll;
    }
    &__answer {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    &__add-problem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__points-input {
        display: flex;
        width: 100%;
        border: 1px solid #181818;
        padding: 10px;
        border-radius: 12px;
        box-sizing: border-box;
    }
    &__points-label {
        width: 100%;
    }
}
.contestInfo {
    padding: 0;
    margin: 0;
    &__item {
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
            'Lucida Sans', Arial, sans-serif;
        border-radius: 4px;
        border: 2px solid #5181b8;
        color: #5181b8;
        margin-bottom: 10px;
        max-width: 450px;
        padding-left: 30px;
    }
}
