.user-table {
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    min-height: 200px;
    &__info {
        margin: 10px 0;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        margin: 10px 0;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 15px;
        display: flex;
        padding: 5px;
        justify-content: space-between;
    }
    &__item-file {
        display: flex;
        align-items: center;
    }
}
