.user-task {
    &__item {
        min-width: 500px;
        min-height: 500px;
        max-height: 800px;
        overflow-y: scroll;
        border: 1px solid #d3d9de;
        border-radius: 8px;
        box-sizing: border-box;
    }
    &__input-label {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        text-align: center;
        background: rgb(57, 135, 253);
        color: white;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
    &__input {
        display: none;
    }
    &__zip-file {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: 2px dashed #d3d9de;
        border-radius: 15px;
        width: 250px;
        padding: 10px;
        text-align: center;
        color: black;
        cursor: pointer;
        flex-basis: 50%;
        text-align: center;
        box-sizing: border-box;
    }
}

// @media only screen and (min-width: 1800px) {
//     .user-task {
//         max-width: 1550px;
//     }
// }

// @media only screen and (max-width: 1800px) {
//     .user-task {
//         max-width: 1400px;
//     }
// }

// @media only screen and (max-width: 1650px) {
//     .user-task {
//         max-width: 1150px;
//     }
// }
