.table {
    &__empty {
        height: 500;
        align-items: 'center';
        display: 'flex';
        justify-content: center;
    }
}

.table__empty {
    height: 500;
    align-items: 'center';
    display: 'flex';
    justify-content: center;
}

.lol {
    color: red;
}
