.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background: rgb(247, 247, 247);
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 30px;
}
