@import url(./utils/normalize.css);
@import url('./utils/fonts/fonts.scss');
body {
    font-family: 'Montserrat';
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
}
html,
body,
#root,
.App {
}
