.feedback {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__select-label {
        display: flex;
        flex-direction: column;
        color: rgb(36, 36, 36);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
    }
    &__select {
        box-sizing: border-box;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 8px;
        padding: 11px 11px 11px 11px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: left;
    }
}
